.panel-heading {
  background-color: red;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.panel-footer {
  background-color: red;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.template-modal-header {
  font-size: 16px;
}
